.continerDescriptionMovie{
    width: 100%;
    height: auto;
    position: relative;
    background-color: #1111;
    .continer_continerDescriptionMovie{
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: all .5s ease-in-out;
        .continer2_continerDescriptionMovie{
            width: 100%;
            height: auto;
            padding: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: stretch;
            .continerTrailerMovie{
                height: auto;
                position: relative;
                .continer_continerTrailerMovie{
                    width: 100%;
                    height: 150px;
                    position: relative;
                    iframe{
                        width: 100%;
                        height: 100%;
                        border: none;
                    }
                    .errorVideo{
                        width: 100%;
                        height: 100%;
                        
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }
                }
            }
            .continerDescription{
                height: auto;
                width: 100%;
                .continer_continerDescription{
                    width: 100%;
                    height: auto;
                    .continer2_continerDescription{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: stretch;
                        .continerButtons{
                            height: 50px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding-left: 5%;
                            padding-right: 5%;
                            margin: 16px 0;
                            button{
                                flex: 0 0 40%;
                                border-radius: 15px;
                                border: none;
                                outline: none;
                                height: 100%;
                                background-color: #f00;
                                color: #fff;
                            }
                        }
                        .continerTitle_Description{
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            h2{
                                width: 100%;
                                height: auto;
                                text-align: center;
                                color: #fff;
                                border-bottom: 1px solid #fff;
                                font-size: 1.5rem;
                            }
                        }
                        .continerOverview{
                            height: auto;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            p{
                                width: 100%;
                                height: 100%;
                                text-align: justify;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .activeContiner_ContinerDescription{
        transition: all .5s ease-in-out;
        height: auto;
    }
}

@media(min-width: 450px)and (max-width: 830px){
    .continerDescriptionMovie{
        .continer_continerDescriptionMovie{
            .continer2_continerDescriptionMovie{
                .continerTrailerMovie{
                    .continer_continerTrailerMovie{
                        height: 250px;
                    }
                }
                .continerDescription{
                    .continer_continerDescription{
                        .continer2_continerDescription{
                            .continerTitle_Description{
                                margin-bottom: 16px;
                                h2{
                                    font-size: 2.5rem;
                                }
                            }
                            .continerOverview{
                                padding: 0 16px;
                                p{
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media(min-width: 830px){
    .continerDescriptionMovie{
        .continer_continerDescriptionMovie{
            display: flex;
            justify-content: center;
            align-items: center;
            .continer2_continerDescriptionMovie{
                max-width: 1050px;
                max-height: 650px;
                flex-direction: row;
                justify-content: center;
                align-items: stretch;
                .continerTrailerMovie{
                    flex: 0 0 60%;
                    min-height: 450px;
                    .continer_continerTrailerMovie{
                        height: 100%;
                        width: 100%;
                        padding: 32px;
                    }
                }
                .continerDescription{
                    flex: 0 0 40%;
                    .continer_continerDescription{
                        .continer2_continerDescription{
                            
                            .continerButtons{
                                max-width: 340px;
                                
                                button{
                                    font-size: 1.5rem;
                                }
                            }
                            .continerTitle_Description{
                                height: 50px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                h2{
                                    width: 100%;
                                    height: auto;
                                    text-align: center;
                                    color: #fff;
                                    border-bottom: 1px solid #fff;
                                    font-size: 1.5rem;
                                }
                            }
                            .continerOverview{
                                overflow-y: auto;
                                p{
                                    font-size: 1.3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}